.Post{
    flex:1 1;
    border-right: 1px solid #fee1e8;
    overflow-y: scroll;
}
.Post::-webkit-scrollbar{
    display: none;
}
/* .Post{
    -ms-overflow-style:none;
    scrollbar-width: none;
} */
.Post__header{
    position: absolute;
    top: 0;
    left: 20%;
    background-color: #fce4ec;
    font-family: 'Times New Roman', Times, serif;
    z-index: 100;
    border: 1px solid #fff;
    padding: 10px 250px;
}
.Post__header > h2{
    position: absolute;
    left: 10%;
    font-size: 20px;
    font-weight: 800;
    
}